header {
  color: white;
  background: url("./background-img.png") no-repeat center center;
  /* background: url("https://birchtree.nyc3.digitaloceanspaces.com/images/wwdc18/dev-blue.png")
    no-repeat center center; */
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  height: 400px;
  letter-spacing: 1px;
  padding: 2rem 0;
  position: relative;
  margin: 1rem 0;
}

header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #102a5340;
}
header h1 {
  font-size: 3rem;
  position: relative;
}
header p {
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.download-cv {
  background-color: #faad17;
  border-radius: 5px;
  color: #fafafa;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease;
}
.download-cv:hover {
  background-color: #ffbd38;
}
@media only screen and (max-width: 1024px) {
  header {
    background-size: 120%;
  }
}
@media only screen and (max-width: 750px) {
  header {
    background-size: 175%;
  }
}
@media only screen and (max-width: 500px) {
  header {
    background-size: 250%;
  }
}
