header {
  color: white;
  background: var(--header-bcg-color) no-repeat top center;
  /* background: url("../sky.jpeg") no-repeat top center; */
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  height: 400px;
  letter-spacing: 1px;
  /* background-color: var(--header-bcg-color); */
  padding: 2rem 0;
  margin: 1rem 0;
  /* margin-top: 2rem; */
}
