div.item {
  background: url("./background-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125%;
}
.item {
  width: 400px;
  height: 400px;
  background-color: white;
  position: relative;
  display: inline-block;
  margin: 1% 2% 1% 0%;
  overflow: hidden;
  box-shadow: 2px 3px 10px #444444;
}

.item .overlay {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
}
.project-link-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 00%;
  bottom: 2%;
}
.project-link-container a {
  background-color: var(--header-bcg-color);
  border-radius: 3px;
  color: #fafafa;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease;
}
.project-link-container a:hover {
  background-color: #5b8bda;
}
a.project-link :last-child {
  margin-left: 8px;
}
/* effect-clean*/
.clean .overlay span:nth-child(1) {
  position: absolute;
  left: 30%;
  top: 25%;
  font-size: 80px;
  font-weight: bold;
  font-family: coustard;
  transform: translateX(-50%);
}

.clean .overlay span:nth-child(2) {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 17px;
  transform: translateX(-50%);
}

.clean .overlay span:nth-child(3) {
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 60%;
  left: 0;
}

.clean .overlay:hover {
  opacity: 0.93;
}
.clean .overlay:hover a.project-link {
  animation: scale 0.7s;
}
.clean .overlay:hover span:nth-child(1) {
  animation: slide 0.4s;
}

.clean .overlay:hover span:nth-child(2) {
  animation: slide 0.7s;
}

.clean .overlay:hover span:nth-child(3) {
  animation: line 0.5s forwards;
}

@keyframes slide {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scale {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
