:root {
  --primary-color: #01233f;
  --secondary-color: #016288;
  /* --primary-color: #053974;
  --secondary-color: #0a1831; */
}
.App {
  width: 95%;
  margin: auto;
}
/* header styles */
.contact-infos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem 0;
}
.contact-infos div {
  display: flex;
  align-items: center;
}
.contact-infos a,
.contact-infos p {
  color: var(--primary-color);
  padding: 0.5rem;
  text-decoration: none;
}
.contact-infos svg {
  color: var(--secondary-color);
}
/*experience card styles  */
.experience-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: var(--secondary-color);
  padding: 1rem 2rem;
}
.role {
  color: var(--primary-color);
}
.organization {
  color: var(--secondary-color);
}
.dates-locations-container {
  /* background-color: #ff0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}
.dates-locations-container div {
  align-items: center;
  display: flex;
}
.dates-locations-container p {
  margin: 0 0.5rem;
}
.calender-icon {
  height: 2.5rem;
}
/* skills styles */
ul.skills-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
ul.skills-container li {
  background-color: #eee;
  color: var(--primary-color);
  font-weight: 600;
  margin: 3px 8px;
  padding: 0.25rem 0.75rem;
  border-radius: 80px;
}
ul.explanation-container {
  font-weight: 300;
  padding-left: 1rem;
}
@media only screen and (max-width: 900px) {
  .contact-infos {
    grid-template-columns: repeat(2, 1fr);
  }
}
