:root {
  --primary-color: #01233f;
  --secondary-color: #016288;
  --header-bcg-color: #4b73b5;
  --card-shadow: #64646f33 0px 7px 29px 0px;
  --card-padding: 3rem 2rem;
  /* --primary-color: #053974;
  --secondary-color: #0a1831; */
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
h2 {
  text-align: center;
  letter-spacing: 1px;
  padding: 1rem 0;
}
/* main container */
main {
  width: 80%;
  margin: auto;
}
/* header {
  grid-area: header;
}
main {
  grid-area: main;
}
.aside-info-container {
  grid-area: aside;
} */
.life-motto,
.tech-skills {
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
  padding: var(--card-padding);
}
.App {
  /* display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "header header"
    "main aside"; */
  /* width: 95%; */
  margin: auto;
}

/*experience card styles  */
.experience-card {
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
  color: var(--secondary-color);
  padding: var(--card-padding);
  margin: 1rem 0;
}
.role {
  color: var(--primary-color);
}
.organization {
  color: var(--secondary-color);
}
.dates-locations-container {
  /* background-color: #ff0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}
.dates-locations-container div {
  align-items: center;
  display: flex;
}
.dates-locations-container p {
  margin: 0 0.5rem;
  font-style: italic;
}
.calender-icon {
  height: 2.5rem;
}
/* skills styles */
ul.skills-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
ul.skills-container li {
  background-color: #eee;
  color: var(--primary-color);
  font-weight: 600;
  margin: 3px 8px;
  padding: 0.25rem 0.75rem;
  border-radius: 80px;
}
ul.explanation-container {
  font-weight: 300;
  padding-left: 1rem;
}
